<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{title}}</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/strava-map.css" rel="stylesheet">
</head>

<body id="page-top" class="index">
    <div id="main" class="main">
      <img src="images/strava-heat-map-background.jpg"
    </div>
    <!-- jQuery Version 1.11.0 -->
    <script src="js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- All of my custom JavaScript-->
    <script src="js/strava-map.js"></script>
</body>

</html>
