<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Strava Map | Activities</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/strava-map.css" rel="stylesheet">
</head>
<body>
   <div class="content">
      <div id="map_canvas"/>
   </div>

   <script src="js/jquery-1.11.0.js"></script>
   <script src="js/bootstrap.min.js"></script>
   <script src="js/strava-map.js"></script>
   <script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=geometry"></script>
</body>
</html>
